<% if user = current_user %>
<div class="container">
	<div class="dashboard" align="center">
		<ul>
		    <li><a href="/materiBahasa"><img alt="library" <%= image_tag 'library.png'%>
		    	<figcaption align="center"><h6>Materi Bahasa</h6></figcaption></a></li>
		    <li><a href="/simulasiBahasa"><img alt="simulation" <%= image_tag 'simulation.png'%>
		    	<figcaption align="center"><h6>Simulasi Ujian</h6></figcaption></a></li>
		    <li><a href="/perkembangan"><img alt="grafik" <%= image_tag 'chart.png'%>
		    	<figcaption align="center"><h6>Perkembangan</h6></figcaption></a></li>
		    <li><a href="/profil"><img alt="setting" <%= image_tag 'edit.png'%>
		    	<figcaption align="center"><h6>Profil</h6></figcaption></a></li>
		</ul>
	</div>
	<div class="clear"></div>
	<hr>

	<div style="height: 500px;">
		<h5>Selamat Datang di Dashboard Siswa</h5>
		<p>Manfaatkan segala jenis fitur yang tersedia, lakukan persiapan semaksimal mungkin</p>
	</div>
	<div class="clear"></div>
</div>
<% else %>
	<h2>Opps!!</h2>
	<div class="clear"></div>
<% end %>
