<div class="container">
	<h2>Materi Pembelajaran</h2>
        <img <%= image_tag '1.png'%>
        <div class="t">
          <h3>Mempermudah Untuk Mempersiapkan Diri</h3>
          <p>Dengan berbagai macam fitur yang ada, diharapkan dapat membantu Siswa dalam melakukan persiapan untuk menjalani Ujian Akhir Nasional (UAN). Karena pengasahan kemampuan Siswa dapat dilakukan kapanpun dan dimanapun.
          </p>
        </div>
        <div class="clear"></div>
      <hr>
</div>