<div class="container">
	<% if teacher = current_teacher %>
	<div class="dashboard" align="center">
		<ul>
		    <li><a href="/list"><img alt="library" <%= image_tag 'library.png'%>
		    	<figcaption align="center"><h6>Tambah Materi</h6></figcaption></a></li>
		    <li><a href="/listSoal"><img alt="soal" <%= image_tag 'simulation.png'%>
		    	<figcaption align="center"><h6>Tambah Soal</h6></figcaption></a></li>
		    <li><a href="#"><img alt="grafik" <%= image_tag 'chart.png'%>
		    	<figcaption align="center"><h6>Monitoring</h6></figcaption></a></li>
		    <li><a href="/profilguru"><img alt="setting" <%= image_tag 'edit.png'%>
		    	<figcaption align="center"><h6>Profil</h6></figcaption></a></li>
		</ul>
	</div>
	<div class="clear"></div>
	<hr>

	<div style="height: 500px;">
		<h5>Selamat Datang di Dashboard Guru</h5>
		<p>Manfaatkan segala jenis fitur yang tersedia, lakukan persiapan semaksimal mungkin</p>
	</div>
	<div class="clear"></div>
	<div class="clear"></div>
</div>
<% else %>
	<h2>Opps!!</h2>
	<div class="clear"></div>
<% end %>
