<div class="container" align="center">
	<% if teacher = current_teacher %>
		<h3>Monitoring Perkembangan Siswa</h3>

		<% @cekStudent.each do |f| %>
		<div>
			<% x = f.noinduk %>
			<%= link_to "#{f.nama}", showMonitor_path(x), style: 'width: 30%', class: 'btn btn-secondary' %>
		 </div>
		<% end %>

	<% else %>
		<h3>Opps!!</h3>
	<% end %>
</div>